<ul class="pagination">
    {% if not pagination.no_back %}
        <li><a href="?page={{ pagination.current_page|add:"-1" }}"><<</a></li>
    {% endif %}
    {% for page in pagination.page_numbers %}
        {% if page != pagination.current_page %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% else %}
            <li class="current_page">{{ page }}</li>
        {% endif %}
    {% endfor %}
    {% if not pagination.no_further %}
        <li><a href="?page={{ pagination.current_page|add:"1" }}">>></a></li>
    {% endif %}
</ul>