{% extends 'base.html' %}

{% block title %}{{ portfolio.name }}{% endblock %}

{% block content %}
    <span class="config_button" id="portfolio_config">Configure</span>
    <span class="config_button" id="portfolio_delete">Delete</span>
    <div class="portfolio">
        <h1 class="portfolio_name">{{ portfolio.name }}</h1>
        <div class="portfolio_created">Created: {{ portfolio.created|date:"d.M.Y" }}</div>
        <div class="portfolio_updated">Last updated: {{ portfolio.last_updated|date:"d.M.Y" }}</div>
        <div class="portfolio_balance">Balance: {{ portfolio.balance }} $</div>
        <div class="portfolio_shares">
            <h2>Shares</h2>
            <div id="portfolio_add_shares">Add shares +</div>
            <input type="text" name="share_name" placeholder="Enter the share name"
                maxlength="255" required="" id="id_share_name">
            <div id="portfolio_confirm_add">Add</div>
            {% if portfolio.shares.all %}
                <ul class="portfolio_shares_header">
                    <li class="share_origin_name">Name</li>
                    <li class="share_origin_symbol">Symbol</li>
                    <li class="shares_amount">Amount</li>
                </ul>
                {% for share in portfolio.shares.all %}
                        <ul class="portfolio_share">
                            <li class="share_origin_name">
                                <a href="{% url 'quotes_detail' slug=share.origin.slug %}">{{ share.origin.name }}</a>
                            </li>
                            <li class="share_origin_symbol">{{ share.origin.symbol }}</li>
                            <li class="shares_amount">{{ share.amount }}</li>
                            <li class="portfolio_shares_edit_menu">...
                                <ul>
                                    <li id="portfolio_shares_amount_change">Change amount</li>
                                    <li id="portfolio_shares_delete">Delete</li>
                                </ul>
                            </li>
                        </ul>
                {% endfor %}
            {% else %}
                <span>No shares yet</span>
            {% endif %}
        </div>
        <div class="portfolio_logs">
            <h2>Logs</h2>
            {% if portfolio.logs|length %}
                {% for log in portfolio.logs.all %}
                    <div>Log</div>
                {% endfor %}
            {% else %}
                No logs yet
            {% endif %}
        </div>
    </div>
{% endblock %}