{% extends 'base.html' %}
{% load quotes_tags %}

{% block title %}Portfolios{% endblock %}

{% block content %}
    <div class="portfolios">
        <div class="portfolio_add">
            <input type="text" id="quotes_search" placeholder="Search">
        </div>
        <div class="portfolios_list">
            {% if quotes %}
                <div class="quotes_list_header">
                    <ul>
                        <li class="quotes_symbol">Symbol</li>
                        <li class="quotes_name">Name</li>
                        <li class="quotes_price">Price $</li>
                        <li class="quotes_change">Change $</li>
                        <li class="quotes_changep">Change %</li>
                        <li class="quotes_volume">Volume</li>
                    </ul>
                </div>
                {% for quote in quotes %}
                    {% quote_tag quote=quote downloaded_quotes=downloaded_quotes %}
                {% endfor %}
                {% if pagination %}
                    {% pagination_tag pagination=pagination %}
                {% endif %}
            {% else %}
                <span>No quotes. Update the data.</span>
            {% endif %}
        </div>
    </div>
{% endblock %}