{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="main_menu">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <select id="id_portfolio" name="portfolio">
                <option>Choose the portfolio</option>
                {% for portfolio in portfolios %}
                    <option value="{{ portfolio.slug }}">{{ portfolio.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
{% endblock %}