{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="analytics">
        {% if no_data %}
            <h3>No data to observe for this period</h3>
        {% else %}
            <h3>{{ share_name }}</h3>
            <img class="plot" src="{% static 'plots/plot.png' %}" alt="">
            <h3>From {{ time_interval_start }} to {{ time_interval_end }}</h3>
            <table class="percent_table" frame="">
                <tr>
                    <td>Share cost change</td>
                    <td>Balance change</td>
                </tr>
                <tr>
                    <td>{{ share_delta }}%</td>
                    <td>{{ balance_delta }}%</td>
                </tr>
            </table>
            <a href="{% url 'main' %}"><div class="button"><h2>Return</h2></div></a>
        {% endif %}
    </div>
{% endblock %}