{% extends 'base.html' %}
{% load static %}

{% block title %}{{ strategy.name }}{% endblock %}

{% block content %}
    <div class="list_data">
        <h2 class="strategy_name">Name: {{ strategy.name }}</h2>
        <br>
        <h3>Settings:</h3>
        <table class="percent_table">
            <tr>
                <td>Shares amount limit</td>
                <td>Shares borrow limit</td>
            </tr>
            <tr>
                <td>{{ strategy.shares_limit_high }}</td>
                <td>{{ strategy.shares_limit_low }}</td>
            </tr>
            <tr>
                <td>Shares to buy if success</td>
                <td>Shares to sell if failure</td>
            </tr>
            <tr>
                <td>{{ strategy.buy }}</td>
                <td>{{ strategy.sell }}</td>
            </tr>
            <tr>

            </tr>
        </table>
        {% with strategy.get_efficiency as efficiency %}
            <h3>Statistics:</h3>
            <table class="percent_table">
                <tr>
                    <td>Result</td>
                    <td>Amount</td>
                    <td>Percent</td>
                </tr>
                <tr>
                    <td class="good">Good</td>
                    <td>{{ efficiency.good }}</td>
                    <td>{{ efficiency.good_percent }}%</td>
                </tr>
                <tr>
                    <td class="normal">Normal</td>
                    <td>{{ efficiency.normal }}</td>
                    <td>{{ efficiency.normal_percent }}%</td>
                </tr>
                <tr>
                    <td class="bad">Bad</td>
                    <td>{{ efficiency.bad }}</td>
                    <td>{{ efficiency.bad_percent }}%</td>
                </tr>
            </table>
            <h3>Verdict:</h3>
            <h4 class="{{ strategy.get_efficiency.verdict }}">
                The strategy has {{ strategy.get_efficiency.verdict }} efficiency
            </h4>
            <br><br>
            <h3>Logs:</h3>
            <br>
            {% if efficiency.logs %}
                {% for log in efficiency.logs %}
                    <ul>
                        <li><h3>Share name: {{ log.share }}</h3></li>
                        <li><h4>ID: {{ log.pk }}</h4></li>
                    </ul>
                    <img src="{{ log.plot.url }}" alt="">
                    <h3>From {{ log.time_interval_start }} to {{ log.time_interval_end }}</h3>
                    <table class="percent_table">
                        <tr>
                            <td>Share change for period</td>
                            <td>{{ log.share_delta }}%</td>
                        </tr>
                        <tr>
                            <td>Balance change for period</td>
                            <td>{{ log.balance_delta }}%</td>
                        </tr>
                    </table>
                {% endfor %}
            {% else %}
                <h3>No logs yet</h3>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}