{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="icon/png" href="{% static 'icon.png' %}">
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
</head>
<body>
    <nav class="navigation_bar">
        <ul>
            <li><a href="{% url 'analysis' %}">Analysis</a></li>
            <li><a href="{% url 'quotes_list' %}">Quotes</a></li>
            <li><a href="{% url 'portfolio_list' %}">Portfolios</a></li>
            <li><a href="{% url 'strategy_list' %}">Strategies</a></li>
            <li><a href="{% url 'logs_list' %}">Logs</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
</body>
</html>